<!DOCTYPE html>
<html>
  <head>
    <title>Cansei</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <p>Signed in as <%= current_user.username %></p>
      <% else %>
        <p><%= link_to 'Sign in with Twitter', '/auth/twitter' %></p>
      <% end %>
    </nav>

    <h1>Como funciona</h1>
    <p>Breve explicação de como funciona</p>

    <%= yield %>
  </body>
</html>
