<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.site_title %></title>
    <%= csrf_meta_tags %>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'scripts/google_analytics' %>
  </head>
  <body>
    <nav>
      <% if current_user %>
        <p>
          Logado como @<%= current_user.username %>
          (<%= link_to 'Sair', logout_path, method: :delete %>)
        </p>
      <% else %>
        <p><%= link_to 'Entrar com sua conta do Twitter', '/auth/twitter' %></p>
      <% end %>
    </nav>

    <h1><%= Settings.site_title %></h1>
    <p><%= Settings.brief_explanation %></p>

    <%= yield %>
  </body>
</html>
